<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Kwesi Larbi | Freelance Developer</title>
  <meta name="description" content="Themebau">
  <meta name="author" content="RunWebRun">
  <link rel="icon" type="image/png" href="images/Logo.png">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
  <!-- START: Styles -->
  <!-- Swiper -->
  <link rel="stylesheet" href="vendor/swiper/dist/css/swiper.min.css" />
  <!-- Fancybox -->
  <link rel="stylesheet" href="vendor/fancybox/dist/jquery.fancybox.min.css" />
  <!-- Themebau -->
  <link rel="stylesheet" href="css/themebau.min.css">
  <!-- Custom Styles -->
  <link rel="stylesheet" href="css/custom.css">
  <!-- END: Styles -->
  <!-- jQuery -->
  <script src="vendor/jquery/dist/jquery.min.js"></script>
</head>