<!DOCTYPE html>
<html lang="en">
  <% include ./includes/head %>
  <body>
    <% include ./includes/nav %> 
    <div class="content-wrap">
        <div class="container">
            <div class="pt-60 pb-130 mt-30">
                <div class="row gh-1 gv-5 align-items-center justify-content-center text-center text-lg-left">
                    <div class="col-auto order-1 order-lg-3 show-on-scroll" data-show-delay="200" data-show-duration="600">
                        <div class="shape-parent lines-style-2">
                            <div class="line text-dark"></div>
                            <div class="shape mt-n30 ml-n30 mr-100 mr-lg-0 d-block">
                                <svg data-rellax-speed="-1" width="90" height="90" viewBox="0 0 90 90" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="45" cy="45" r="45" fill="#F5F5F5" />
                                </svg>
                            </div>
                            <img class="position-relative rounded-circle" width="180" src="images/avatar-freelancer.jpg" alt="">
                        </div>
                    </div>
                    <div class="d-none d-lg-block col order-lg-2"></div>
                    <div class="col-12 col-lg-6 order-3 order-lg-1">
                        <p class="subtitle show-on-scroll" data-show-duration="600" data-show-delay="250">Kwesi Larbi</p>
                        <h1 class="h2 show-on-scroll" data-show-duration="500" data-show-distance="15">I’m freelance front-end developer based in DC.</h1>
                        <a href="contact" class="btn btn-dark btn-with-ball mt-5 show-on-scroll" data-show-duration="400" data-show-delay="100" data-show-distance="15">let’s work</a>
                    </div>
                    <div class="col-12 col-lg-2 text-center text-lg-right order-2 order-lg-4 mt-n60 mt-lg-0">
                        <ul class="nav nav-gap-sm d-inline-flex align-items-center flex-lg-column">
                            <li class="nav-item show-on-scroll" data-show-duration="300" data-show-distance="10" data-show-delay="200">
                                <a href="https://www.facebook.com/profile.php?id=100010270907031" class="nav-link">
                                    <svg width="7" height="15" viewBox="0 0 10 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M8.17421 3.65234H9.99996V0.154687C9.68557 0.107422 8.60224 0 7.34088 0C4.70831 0 2.90529 1.82188 2.90529 5.16914V8.25H0V12.1602H2.90529V22H6.46588V12.1602H9.25375L9.69693 8.25H6.46588V5.55586C6.46588 4.42578 6.7424 3.65234 8.17421 3.65234Z" fill="currentColor" />
                                    </svg>
                                </a>
                            </li>
                            <li class="nav-item show-on-scroll" data-show-duration="300" data-show-distance="10" data-show-delay="300">
                                <a href="https://twitter.com/HordethJay" class="nav-link">
                                    <svg width="17" height="15" viewBox="0 0 25 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M22.0706 5.51356C22.086 5.73504 22.086 5.95656 22.086 6.17804C22.086 12.9334 17.0783 20.7172 7.92575 20.7172C5.10601 20.7172 2.48661 19.8787 0.283203 18.4232C0.683835 18.4707 1.069 18.4865 1.48505 18.4865C3.81167 18.4865 5.95347 17.6797 7.6638 16.3033C5.47581 16.2558 3.64221 14.7845 3.01046 12.7594C3.31865 12.8069 3.6268 12.8385 3.9504 12.8385C4.39723 12.8385 4.84411 12.7752 5.2601 12.6645C2.97968 12.1898 1.2693 10.1332 1.2693 7.64935V7.58609C1.93183 7.96579 2.70231 8.20309 3.5189 8.2347C2.17837 7.31709 1.30013 5.75086 1.30013 3.97894C1.30013 3.02972 1.54661 2.15959 1.97807 1.40019C4.42801 4.50103 8.11063 6.52604 12.24 6.74756C12.163 6.36787 12.1168 5.97239 12.1168 5.57687C12.1168 2.76076 14.3356 0.466797 17.0937 0.466797C18.5266 0.466797 19.8209 1.0838 20.73 2.0805C21.8548 1.85902 22.9334 1.43184 23.8887 0.846495C23.5189 2.03307 22.7331 3.02977 21.7008 3.66255C22.7023 3.55186 23.673 3.26702 24.5667 2.87155C23.8888 3.88403 23.0413 4.78577 22.0706 5.51356Z" fill="currentColor" />
                                    </svg>
                                </a>
                            </li>
                            <li class="nav-item show-on-scroll" data-show-duration="300" data-show-distance="10" data-show-delay="400">
                                <a href="https://github.com/KwesiLarbi" class="nav-link">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 22 22" fill="none">
                                    <path fill="currentColor" d="M12.026,2c-5.509,0-9.974,4.465-9.974,9.974c0,4.406,2.857,8.145,6.821,9.465 c0.499,0.09,0.679-0.217,0.679-0.481c0-0.237-0.008-0.865-0.011-1.696c-2.775,0.602-3.361-1.338-3.361-1.338 c-0.452-1.152-1.107-1.459-1.107-1.459c-0.905-0.619,0.069-0.605,0.069-0.605c1.002,0.07,1.527,1.028,1.527,1.028 c0.89,1.524,2.336,1.084,2.902,0.829c0.091-0.645,0.351-1.085,0.635-1.334c-2.214-0.251-4.542-1.107-4.542-4.93 c0-1.087,0.389-1.979,1.024-2.675c-0.101-0.253-0.446-1.268,0.099-2.64c0,0,0.837-0.269,2.742,1.021 c0.798-0.221,1.649-0.332,2.496-0.336c0.849,0.004,1.701,0.115,2.496,0.336c1.906-1.291,2.742-1.021,2.742-1.021 c0.545,1.372,0.203,2.387,0.099,2.64c0.64,0.696,1.024,1.587,1.024,2.675c0,3.833-2.33,4.675-4.552,4.922 c0.355,0.308,0.675,0.916,0.675,1.846c0,1.334-0.012,2.41-0.012,2.737c0,0.267,0.178,0.577,0.687,0.479 C19.146,20.115,22,16.379,22,11.974C22,6.465,17.535,2,12.026,2z"></path>
                                  </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="pb-160 isotope text-center">
                <ul class="nav justify-content-center isotope-options mb-60 pb-30">
                    <li class="nav-item active show-on-scroll" data-show-delay="50" data-show-duration="400" data-show-distance="10">
                        <a href="#" data-filter="all" class="nav-link"><span class="nav-link-name">all projects</span></a>
                    </li>
                    <li class="nav-item show-on-scroll" data-show-delay="100" data-show-duration="400" data-show-distance="10">
                        <a href="#" data-filter="client" class="nav-link"><span class="nav-link-name">client projects</span></a>
                    </li>
                    <li class="nav-item show-on-scroll" data-show-delay="150" data-show-duration="400" data-show-distance="10">
                        <a href="#" data-filter="personal" class="nav-link"><span class="nav-link-name">personal projects</span></a>
                    </li>
                </ul>
                <div class="row gv-5 isotope-grid mb-n7">
                    <div class="col-12 col-md-6 isotope-item" data-filters="client">
                        <span class="d-block show-on-scroll" data-show-delay="50" data-show-duration="600">
                            <a class="card card-portfolio card-default card-image-md card-hover-zoom" href="https://www.lakpazee.com/">
                                <span class="card-img" data-cursor-style="cursor-circle" data-cursor-text="view">
                                    <img src="images/lyfa.png" alt="">
                                </span>
                                <span class="card-body">
                                    <span class="card-title h4">Lakpazee Youth Football Academy</span>
                                    <span class="card-category subtitle">Non-Profit</span>
                                </span>
                            </a>
                        </span>
                    </div>
                    <div class="col-12 col-md-6 isotope-item" data-filters="personal">
                        <span class="d-block show-on-scroll" data-show-delay="150" data-show-duration="600">
                            <!-- TODO: Add Link to github and site -->
                            <a class="card card-portfolio card-default card-image-md card-hover-zoom" href="https://master.dcx3jvnbsct91.amplifyapp.com/">
                                <span class="card-img" data-cursor-style="cursor-circle" data-cursor-text="view">
                                    <img src="images/copost.png" alt="">
                                </span>
                                <span class="card-body">
                                    <span class="card-title h4">COPOST</span>
                                    <span class="card-category subtitle">React.js App</span>
                                </span>
                            </a>
                        </span>
                    </div>
                    <div class="col-12 col-md-6 isotope-item" data-filters="personal">
                        <span class="d-block show-on-scroll" data-show-delay="150" data-show-duration="600">
                            <!-- TODO: Add Link to github and site -->
                            <a class="card card-portfolio card-default card-image-md card-hover-zoom" href="https://github.com/KwesiLarbi/meandyou-chatapp">
                                <span class="card-img" data-cursor-style="cursor-circle" data-cursor-text="view">
                                    <img src="images/my.png" alt="">
                                </span>
                                <span class="card-body">
                                    <span class="card-title h4">M/Y Chat App</span>
                                    <span class="card-category subtitle">Electron.js & React.js App</span>
                                </span>
                            </a>
                        </span>
                    </div>
                    <div class="col-12 col-md-6 isotope-item" data-filters="personal">
                      <span class="d-block show-on-scroll" data-show-delay="50" data-show-duration="600">
                        <!-- TODO: Add Andre site link -->
                          <a class="card card-portfolio card-default card-image-md card-hover-zoom" href="https://github.com/KwesiLarbi/Instagram-Clone">
                              <span class="card-img" data-cursor-style="cursor-circle" data-cursor-text="view">
                                  <img src="images/placeholder.png" alt="">
                              </span>
                              <span class="card-body">
                                  <span class="card-title h4">Instagram Clone</span>
                                  <span class="card-category subtitle">Blockchain App</span>
                              </span>
                          </a>
                      </span>
                    </div>
                </div>
                <!-- USE TO HIDE OR UNHIDE PROJECTS: <a href="portfolio-col-2-style-3.html" class="btn btn-circle btn-light btn-lg mt-100">more</a>-->
            </div>
        </div>
    </div>
    <% include ./includes/footer %>
    <% include ./includes/scripts %>
  </body>
</html>